{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-3">Welcome</h1>
  <hr class="m-y-md">
  <p class="lead">It is a mini-project. It builds a website by utilising a local database, it includes the ForeginKey and relationship. Used technologies are the following</p>
  <ul>
    <li>Flask</li>
    <li>SQLalchemy</li>
    <li>Bootstrap</li>
  </ul>
  <p class="lead">
    <span class="font-weight-bold">Things I learned</span>
  </p>
  <ul>
    <li>Do the <kbd>form.submit(class_='foo')</kbd>  later, make sure everything works before caring the css/appearance, otherwise something strange will happen.</li>
    <li><span class="text-danger font-weight-bold">TYPE CAREFULLY</span>, there are a lot of typo which make a lot of bugs.</li>
    <li>whenever there is a structural change, for example, ForeginKey relationship, migrate the and upgrate the new version before HTML rendering.</li>
    <li>Must initiate the <kbd>__tablename__</kbd> in the <kbd>Class foo(SQLAlchemy.Model)</kbd>, the <kbd>SQLAlchemy.ForeignKey()</kbd> requires a <kbd>__tablename__</kbd> not a <kbd>Class</kbd></li>
    <li>it is possible to use a <kbd>if</kbd> in <kbd>for</kbd> loop in <strong>Jinja</strong></li>
    </ul>
    <p class="lead">
        <span class="font-weight-bold">Little reminder:</span>
    </p>
    <p>In <kbd>Puppy</kbd>
    <code>owner = relationship('Owner', backref = 'pet', uselist=False)</code></p>
    <p>In <kbd>Owner</kbd>, make sure you have the table name for the related table
    <code>pup_id = db.Column(db.Integer, db.ForeignKey('<strong>puppies</strong>.id'))</code></p>
</div>

{% endblock %}
