{% extends 'base.html' %}
{% block content %}
Hello, here is {{user.username}} personal page, the following posts are written by {{user.username}}.
<hr>

{% for post in posts_by_users %}
<!-- <img src="{{url_for('static',filename='profile_img/'+ post.users.profile_image)}}" alt=""> -->
<hr>
<div class="inner cover">
<a href="{{url_for("posts.view_post", post_id=post.id)}}" class="lead font-weight-bold">{{post.title}}</a>
<p class="text-sm">by <a href="{{url_for('users.user_posts', user_id=post.author.id)}}">{{post.author.username}}</a>, on {{post.date.strftime('%B %d, %Y')}}</p>
<!-- <p class="text-sm"></p> -->
<p class="lead">
<a href="{{url_for("posts.view_post", post_id=post.id)}}" class="btn btn-sm btn-secondary">Learn more</a>
</p>
</div>
<hr>
{% endfor %}

{% endblock %}
